* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #0A4C95 #C2D2E4;
}

li {
    list-style: none;
}

/* Scrollbar design per Edge/Chrome */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb {
    background-color: #0A4C95;
}

